.expand-btn {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  border: 0.5px dashed var(--border-primary-color);
  background: transparent;
  color: var(--text-muted-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s;
  margin: auto;
}
.expand-btn:hover {
  background: var(--hover-bg-color);
  border-color: var(--border-secondary-color);
  color: var(--text-primary-color);
}
.expand-btn.open {
  color: var(--brand-secondary);
  background: var(--bg-tertiary-color);
  border: 0.5px solid var(--border-primary-color);
}

.expand_icon {
  width: 30px;
  height: 30px;
  transition: all 0.15s;
}

.expand_icon.open {
  margin-top: 10px;
}
