.CK_stp_brand_fld_basic_taglineHint{
    pointer-events: all;
    cursor: pointer;
    color: var(--color-primary);
    text-decoration: underline;
    /* font-size: 14px; */
    /* font-weight: 600; */
    /* margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px; */
}