.A {
  /* background-color: #1b7357; */
  color: white;
}

.B {
  /* background-color: #73571B; */
  color: #f7a500;
}

.C {
  /* background-color: #37731b; */
  color: #f0b906;
}

.D {
  /* background-color: #2b1b73; */
  color: #0052f7;
}
.E {
  color: #faba3a;
}

.F {
  /* background-color: #732b1b; */
  color: #00cef7;
}
.G {
  /* background-color: #1b6373; */
  color: #fbcc6c;
}

.H {
  /* background-color: #9c3ecb; */
  color: #f70052;
}
.I {
  color: #f7cd00;
}
