.Session_Adding_Project {
  width: 100% !important;
}

.Session_Adding_Project_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
