:root {
  /* ========== LIGHT THEME COLORS ========== */

  /* 🎯 Brand Colors */

  /* ! ⬇️⬇️⬇️⬇ GLOBAL COLOR PALATE ⬇️⬇️⬇️ */

  --D-bg-primary-color: #571b73;
  --D-h1-primary-color: #ffffff;
  --D-h2-primary-color: #00a6ff;
  --D-h3-primary-color: #7bff00;
  --D-title-primary-color: #fad901;
  --D-text-primary-color: #dbd5de;
  --D-border-primary-color: #fca800;
  --D-boxShadow-primary-color: #ffffff83;
  --D-text-primary-color-HOV: #ffffff;
  --D-border-primary-color-HOV: #ffffff;
  --D-boxShadow-primary-color-HOV: #ffffffcd;
  --D-bg-primary-color-HOV: #571b73;

  --D-bg-secondary-color: #7b18a5fd;
  --D-h1-secondary-color: #05ab1b;
  --D-h2-secondary-color: #e1b70e;
  --D-h3-secondary-color: #000000;
  --D-title-secondary-color: #ffffff;
  --D-text-secondary-color: #d8d6da;
  --D-border-secondary-color: #ffffffb1;
  --D-boxShadow-secondary-color: #ffffff8b;
  --D-text-secondary-color-HOV: #ffffff;
  --D-border-secondary-color-HOV: #ffffff;
  --D-boxShadow-secondary-color-HOV: #ffffff;
  --D-bg-secondary-color-HOV: #7b18a5fd;

  --D-bg-tertiary-color: #340f44;
  --D-h1-tertiary-color: #ffffff;
  --D-h2-tertiary-color: #ecac0a;
  --D-h3-tertiary-color: #7bff00e0;
  --D-title-tertiary-color: #fa9f01;
  --D-text-tertiary-color: #dcd9dd;
  --D-border-tertiary-color: #ff890387;
  --D-boxShadow-tertiary-color: #ff8903ac;
  --D-text-tertiary-color-HOV: #ffffff;
  --D-border-tertiary-color-HOV: #fa960199;
  --D-boxShadow-tertiary-color-HOV: #ff8903;
  --D-bg-tertiary-color-HOV: #340f44ce;

  --L-bg-primary-color: #eee29539;
  --L-h1-primary-color: #171617;
  --L-h2-primary-color: #196842;
  --L-h3-primary-color: #8d4f0d;
  --L-title-primary-color: #340f44;
  --L-text-primary-color: #000000cc;
  --L-border-primary-color: #340f44;
  --L-boxShadow-primary-color: #340f4485;
  --L-text-primary-color-HOV: #000000;
  --L-border-primary-color-HOV: #571b73;
  --L-boxShadow-primary-color-HOV: #340f44;
  --L-bg-primary-color-HOV: #eee2957e;

  --L-bg-secondary-color: #eee2957e;
  --L-h1-secondary-color: #6e069d;
  --L-h2-secondary-color: #f07706;
  --L-h3-secondary-color: #0a36a3;
  --L-title-secondary-color: #ab2200;
  --L-text-secondary-color: #59595a;
  --L-border-secondary-color: #571b73;
  --L-boxShadow-secondary-color: #571b73;
  --L-text-secondary-color-HOV: #430261;
  --L-border-secondary-color-HOV: #571b73;
  --L-boxShadow-secondary-color-HOV: #571b73;
  --L-bg-secondary-color-HOV: #eee295b9;

  --L-bg-tertiary-color: #f0e9b8;
  --L-h1-tertiary-color: #340f44;
  --L-h2-tertiary-color: #000000;
  --L-h3-tertiary-color: #ce0707;
  --L-title-tertiary-color: #340f44;
  --L-text-tertiary-color: #262427;
  --L-border-tertiary-color: #571b735a;
  --L-boxShadow-tertiary-color: #340f44c6;
  --L-text-tertiary-color-HOV: #000000;
  --L-border-tertiary-color-HOV: #571b73b0;
  --L-boxShadow-tertiary-color-HOV: #571b73;
  --L-bg-tertiary-color-HOV: #f5eba7;

  --dark-logo-text-color: #ff6200;

  /* ! ⬆️⬆️⬆️ GLOBAL COLOR PALATE ⬆️⬆️⬆️ */

  /* ! FINAL================= INPUT GLOBAL COLORS ================= */

  --L-icon-primary-stroke-color: #571b73;
  --L-icon-secondary-stroke-color: #10246ece;
  --L-icon-tertiary-stroke-color: #b20d0d;
  --L-icon-primary-stroke-color-HOV: #4e4e4d;
  --L-icon-secondary-stroke-color-HOV: #011aa2;
  --L-icon-tertiary-stroke-color-HOV: #ff9100;

  --D-icon-primary-stroke-color: rgb(251, 163, 0);
  --D-icon-secondary-stroke-color: #0acd37;
  --D-icon-tertiary-stroke-color: #d3d0d0;
  --D-icon-primary-stroke-color-HOV: #d3d0d0;
  --D-icon-secondary-stroke-color-HOV: #f1bd03;
  --D-icon-tertiary-stroke-color-HOV: #0acd37;

  /* ! FINAL================= INPUT GLOBAL BOX SHADOWS ================= */

  /* ! ⬇️⬇️⬇️===FIELD MESSAGE COLORS===⬇️⬇️⬇️ */
  --L-primary-hint-border: rgb(144, 136, 136);
  --L-primary-success-border: rgb(47, 255, 0);
  --L-primary-error-border: rgb(255, 0, 0);
  --L-primary-warning-border: rgb(251, 255, 0);

  --D-primary-hint-border: rgb(255, 255, 255);
  --D-primary-success-border: rgb(45, 195, 11);
  --D-primary-error-border: rgb(255, 0, 0);
  --D-primary-warning-border: rgb(251, 255, 0);

  /* ! ⬆️⬆️⬆️===FIELD MESSAGE COLORS===⬆️⬆️⬆️ */

  /* ! ⬇️⬇️⬇️===INPUT COLORS===⬇️⬇️⬇️ */
  --L-input-primary-bg-color: rgb(241, 235, 235);
  --L-input-primary-text-color: rgba(1, 1, 1, 0.792);
  --L-input-primary-text-color-FOC: rgb(0, 0, 0);
  --L-input-primary-text-color-HOV: rgb(45, 44, 44);
  --L-input-primary-plHolder-color: rgba(129, 130, 128, 0.764);
  --L-input-primary-plHolder-color-HOV: rgb(74, 69, 69);
  --L-input-primary-plHolder-color-DIS: rgba(99, 97, 97, 0.707);
  --L-input-primary-label-color: #7a10ab;
  --L-input-primary-label-color-HOV: #560c78;
  --L-input-primary-border-color: 1px solid #571b738e;
  --L-input-primary-icon-color: #7c22a6;

  --L-input-primary-border-color-HOV: 1px solid #560c78;
  --L-input-primary-border-color-FOC: 1px solid #480666;
  --L-input-primary-border-color-DIS: 1px solid #ff0000;
  --L-input-primary-boxShadow: 0 2px 8px 0 #7f3b9f29, 0 1.5px 4px 0 #571b730d;
  --L-input-primary-boxShadow-FOC: 0 2px 6px 0 #7f3b9f3d, 0 1px 4px 0 #571b731a;
  --L-input-primary-boxShadow-DIS: 0 2px 6px 0 #fc00003d, 0 1px 4px 0 #ff00001a;
  --L-input-primary-boxShadow-HOV: 0 2px 6px 0 #7f3b9f3d, 0 1px 4px 0 #571b731a;

  --D-input-primary-bg-color: rgb(90, 13, 116);
  --D-input-primary-text-color: rgba(255, 255, 255, 0.929);
  --D-input-primary-text-color-FOC: rgb(255, 255, 255);
  --D-input-primary-text-color-HOV: rgb(255, 196, 0);
  --D-input-primary-plHolder-color: rgba(252, 254, 250, 0.764);
  --D-input-primary-plHolder-color-HOV: rgb(183, 157, 11);
  --D-input-primary-plHolder-color-DIS: rgba(255, 255, 255, 0.764);
  --D-input-primary-label-color: #f1bd03;
  --D-input-primary-label-color-HOV: #0acd37;
  --D-input-primary-border-color: 1px solid #ff6200c2;
  --D-input-primary-icon-color: #ffcc00;
  --D-input-primary-border-color-HOV: 1px solid #2e005d;
  --D-input-primary-border-color-FOC: 1px solid #ff8300;
  --D-input-primary-border-color-DIS: 1px solid #ff0000;
  --D-input-primary-boxShadow: 0 2px 8px 0 #2f005dbd, 0 1.5px 4px 0 #571b730d;
  --D-input-primary-boxShadow-FOC: 0 2px 6px 0 #ff8300, 0 1px 4px 0 #571b731a;
  --D-input-primary-boxShadow-DIS: 0 2px 6px 0 #ff000096, 0 1px 4px 0 #ff00001a;
  --D-input-primary-boxShadow-HOV: 0 1px 3px 0 #ff62008f, 0 1px 2px 0 #ff6200a2;

  /* ! ⬆️⬆️⬆️===INPUT COLORS===⬆️⬆️⬆️ */

  /* ! ⬇️⬇️⬇️===INPUT COLORS===⬇️⬇️⬇️ */

  --L-btn-primary-bg-color: #571b73;
  --L-btn-primary-text-color: #f3f0f4e8;
  --L-btn-primary-border-color: #ffc40077;
  --L-btn-primary-boxShadow-color: #571b7362;
  --L-btn-primary-bg-color-HOV: #571b73;
  --L-btn-primary-text-color-HOV: #ffffff;
  --L-btn-primary-border-color-DIS: #571b73;

  --L-btn-secondary-bg-color: #beb9b9;
  --L-btn-secondary-text-color: #080808;
  --L-btn-secondary-border-color: #04040453;
  --L-btn-secondary-boxShadow-color: #731b1b62;
  --L-btn-secondary-bg-color-HOV: #ff0000;
  --L-btn-secondary-text-color-HOV: #ffffff;
  --L-btn-secondary-border-color-DIS: #ff0000;

  --L-btn-tertiary-bg-color: #ffc400;
  --L-btn-tertiary-text-color: #000000;
  --L-btn-tertiary-border-color: #000000;
  --L-btn-tertiary-boxShadow-color: #82671962;
  --L-btn-tertiary-bg-color-HOV: #01f01d;
  --L-btn-tertiary-text-color-HOV: #000000c3;
  --L-btn-tertiary-border-color-DIS: #000000;

  --D-btn-primary-bg-color: #0acd37;
  --D-btn-primary-text-color: #ffffff;
  --D-btn-primary-border-color: rgb(255, 255, 255);
  --D-btn-primary-boxShadow-color: #ffffff93;
  --D-btn-primary-bg-color-HOV: rgb(251, 163, 0);
  --D-btn-primary-text-color-HOV: rgb(255, 255, 255);
  --D-btn-primary-border-color-DIS: #ff0000;

  --D-icon-primary-stroke-color: rgb(251, 163, 0);
  --D-icon-secondary-stroke-color: #0acd37;
  --D-icon-tertiary-stroke-color: #d3d0d0;
  --D-icon-primary-stroke-color-HOV: #d3d0d0;
  --D-icon-secondary-stroke-color-HOV: #f1bd03;
  --D-icon-tertiary-stroke-color-HOV: #0acd37;

  --D-btn-secondary-bg-color: #ff0000;
  --D-btn-secondary-text-color: #ffffffc7;
  --D-btn-secondary-border-color: #000000;
  --D-btn-secondary-boxShadow-color: #571b73;
  --D-btn-secondary-bg-color-HOV: #c11616;
  --D-btn-secondary-text-color-HOV: #ffffff;
  --D-btn-secondary-border-color-DIS: #ff0000;

  --D-btn-tertiary-bg-color: rgb(251, 117, 0);
  --D-btn-tertiary-text-color: #ffffff;
  --D-btn-tertiary-border-color: #26ff00;
  --D-btn-tertiary-boxShadow-color: #26ff00;
  --D-btn-tertiary-icon-color: #571b73;
  --D-btn-tertiary-bg-color-HOV: #0acd37;
  --D-btn-tertiary-text-color-HOV: #ffffff;
  --D-btn-tertiary-border-color-DIS: #571b73;

  /* ! ⬆️⬆️⬆️===INPUT COLORS===⬆️⬆️⬆️ */
}
