/* Light Theme - Semantic Variable Mappings */
[data-theme="light"] {
  --themeToggle-color: #063df0;

  /*! ======================================================== */

  /* ! ⬇️⬇️⬇️⬇ GLOBAL COLOR PALATE ⬇️⬇️⬇️ */

  --bg-primary-color: var(--L-bg-primary-color);
  --h1-primary-color: var(--L-h1-primary-color);
  --h2-primary-color: var(--L-h2-primary-color);
  --h3-primary-color: var(--L-h3-primary-color);
  --title-primary-color: var(--L-title-primary-color);
  --text-primary-color: var(--L-text-primary-color);
  --border-primary-color: var(--L-border-primary-color);
  --boxShadow-primary-color: var(--L-boxShadow-primary-color);
  --text-primary-color-HOV: var(--L-text-primary-color-HOV);
  --border-primary-color-HOV: var(--L-border-primary-color-HOV);
  --boxShadow-primary-color-HOV: var(--L-boxShadow-primary-color-HOV);
  --bg-primary-color-HOV: var(--L-bg-primary-color-HOV);

  --bg-secondary-color: var(--L-bg-secondary-color);
  --h1-secondary-color: var(--L-h1-secondary-color);
  --h2-secondary-color: var(--L-h2-secondary-color);
  --h3-secondary-color: var(--L-h3-secondary-color);
  --title-secondary-color: var(--L-title-secondary-color);
  --text-secondary-color: var(--L-text-secondary-color);
  --border-secondary-color: var(--L-border-secondary-color);
  --boxShadow-secondary-color: var(--L-boxShadow-secondary-color);
  --text-secondary-color-HOV: var(--L-text-secondary-color-HOV);
  --border-secondary-color-HOV: var(--L-border-secondary-color-HOV);
  --boxShadow-secondary-color-HOV: var(--L-boxShadow-secondary-color-HOV);
  --bg-secondary-color-HOV: var(--L-bg-secondary-color-HOV);

  --bg-tertiary-color: var(--L-bg-tertiary-color);
  --h1-tertiary-color: var(--L-h1-tertiary-color);
  --h2-tertiary-color: var(--L-h2-tertiary-color);
  --h3-tertiary-color: var(--L-h3-tertiary-color);
  --title-tertiary-color: var(--L-title-tertiary-color);
  --text-tertiary-color: var(--L-text-tertiary-color);
  --border-tertiary-color: var(--L-border-tertiary-color);
  --boxShadow-tertiary-color: var(--L-boxShadow-tertiary-color);
  --text-tertiary-color-HOV: var(--L-text-tertiary-color-HOV);
  --border-tertiary-color-HOV: var(--L-border-tertiary-color-HOV);
  --boxShadow-tertiary-color-HOV: var(--L-boxShadow-tertiary-color-HOV);
  --bg-tertiary-color-HOV: var(--L-bg-tertiary-color-HOV);

  /* ! ⬆️⬆️⬆️ GLOBAL COLOR PALATE ⬆️⬆️⬆️ */

  --bg-primary: var(--light-bg-primary-color);
  --bg-primary-hover: var(--light-bg-primary-color-hover);
  --text-primary: var(--light-text-primary-color);
  --logo-text-color: var(--light-logo-text-color);

  /* ! ⬇️⬇️⬇️⬇ ICON COLOR PALATE ⬇️⬇️⬇️ */

  --icon-primary-stroke-color: var(--L-icon-primary-stroke-color);
  --icon-primary-stroke-color-HOV: var(--L-icon-primary-stroke-color-HOV);

  --icon-secondary-stroke-color: var(--L-icon-secondary-stroke-color);
  --icon-secondary-stroke-color-HOV: var(--L-icon-secondary-stroke-color-HOV);

  --icon-tertiary-stroke-color: var(--L-icon-tertiary-stroke-color);
  --icon-tertiary-stroke-color-HOV: var(--L-icon-tertiary-stroke-color-HOV);
  /* ! ⬆️⬆️⬆️ ICON COLOR PALATE ⬆️⬆️⬆️ */

  /* ! ⬇️⬇️⬇️===INPUT COLORS===⬇️⬇️⬇️ */

  --input-primary-bg-color: var(--L-input-primary-bg-color);
  --input-primary-text-color: var(--L-input-primary-text-color);
  --input-primary-text-color-FOC: var(--L-input-primary-text-color-FOC);
  --input-primary-text-color-HOV: var(--L-input-primary-text-color-HOV);
  --input-primary-plHolder-color: var(--L-input-primary-plHolder-color);
  --input-primary-plHolder-color-HOV: var(--L-input-primary-plHolder-color-HOV);
  --input-primary-label-text: var(--L-input-primary-label-color);
  --input-primary-label-text-HOV: var(--L-input-primary-label-color-HOV);
  --input-primary-border-color: var(--L-input-primary-border-color);
  --input-primary-icon-color: var(--L-input-primary-icon-color);
  --input-primary-border-color-HOV: var(--L-input-primary-border-color-HOV);
  --input-primary-border-color-FOC: var(--L-input-primary-border-color-FOC);
  --input-primary-border-color-DIS: var(--L-input-primary-border-color-DIS);
  --input-primary-boxShadow: var(--L-input-primary-boxShadow);
  --input-primary-boxShadow-FOC: var(--L-input-primary-boxShadow-FOC);
  --input-primary-boxShadow-DIS: var(--L-input-primary-boxShadow-DIS);
  --input-primary-boxShadow-HOV: var(--L-input-primary-boxShadow-HOV);
  --input-primary-plHolder-color-DIS: var(--L-input-primary-plHolder-color-DIS);

  /* ! ⬆️⬆️⬆️===INPUT COLORS===⬆️⬆️⬆️ */

  /* ! ⬇️⬇️⬇️===FIELD MESSAGE COLORS===⬇️⬇️⬇️ */

  --primary-hint-border: var(--L-primary-hint-border);
  --primary-success-border: var(--L-primary-success-border);
  --primary-error-border: var(--L-primary-error-border);
  --primary-warning-border: var(--L-primary-warning-border);

  /* ! ⬆️⬆️⬆️===FIELD MESSAGE COLORS===⬆️⬆️⬆️ */

  /* ! ⬇️⬇️⬇️===BUTTON COLORS===⬇️⬇️⬇️ */

  --btn-primary-bg-color: var(--L-btn-primary-bg-color);
  --btn-primary-text-color: var(--L-btn-primary-text-color);
  --btn-primary-border-color: var(--L-btn-primary-border-color);
  --btn-primary-boxShadow-color: var(--L-btn-primary-boxShadow-color);
  --btn-primary-bg-color-HOV: var(--L-btn-primary-bg-color-HOV);
  --btn-primary-text-color-HOV: var(--L-btn-primary-text-color-HOV);
  --btn-primary-border-color-DIS: var(--L-btn-primary-border-color-DIS);

  --btn-secondary-bg-color: var(--L-btn-secondary-bg-color);
  --btn-secondary-text-color: var(--L-btn-secondary-text-color);
  --btn-secondary-border-color: var(--L-btn-secondary-border-color);
  --btn-secondary-boxShadow-color: var(--L-btn-secondary-boxShadow-color);
  --btn-secondary-bg-color-HOV: var(--L-btn-secondary-bg-color-HOV);
  --btn-secondary-text-color-HOV: var(--L-btn-secondary-text-color-HOV);
  --btn-secondary-border-color-DIS: var(--L-btn-secondary-border-color-DIS);

  --btn-tertiary-bg-color: var(--L-btn-tertiary-bg-color);
  --btn-tertiary-text-color: var(--L-btn-tertiary-text-color);
  --btn-tertiary-border-color: var(--L-btn-tertiary-border-color);
  --btn-tertiary-boxShadow-color: var(--L-btn-tertiary-boxShadow-color);
  --btn-tertiary-bg-color-HOV: var(--L-btn-tertiary-bg-color-HOV);
  --btn-tertiary-text-color-HOV: var(--L-btn-tertiary-text-color-HOV);
  --btn-tertiary-border-color-DIS: var(--L-btn-tertiary-border-color-DIS);

  /* ! ⬆️⬆️⬆️===BUTTON COLORS===⬆️⬆️⬆️ */
}
