.Competitors_table_row_competesWithBrands {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  overflow: visible;
  position: relative;
}

.Competitors_table_row_competesWithBrands_empty {
  color: var(--text-tertiary-color);
  font-size: 0.8rem;
}
