.Competitors_table_row_dineIn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 1.5rem;
}

.Competitors_table_row_dineIn_check {
  color: var(--primary-success-border);
}

.Competitors_table_row_dineIn_dash {
  color: var(--text-secondary-color);
}

