.cK_setup_cuisineTags_addForm .modal_body {
  overflow: visible;
}

.cK_setup_cuisineTags_addForm .cK_stp_cuisineTag_fld_meta__row {
  grid-template-columns: 1fr;
}

@media (min-width: 640px) {
  .cK_setup_cuisineTags_addForm .cK_stp_cuisineTag_fld_meta__row {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 900px) {
  .cK_setup_cuisineTags_addForm .cK_stp_cuisineTag_fld_meta__row {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
