.PublicHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: var(--spacing-md); */
  /* background-color: var(--bg-main); */
  border-bottom: 1px solid var(--border-main);
}

.publicHeader_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 40px;
}
