/*
  background-color: var(--input-primary-bg-color);
  background-color: var(--input-primary-bg-color-active);
  background-color: var(--input-primary-bg-color-disabled);
  background-color: var(--input-primary-bg-color-focus);
  background-color: var(--input-primary-bg-color-hover);
  background-color: var(--input-secondary-bg-color);
  background-color: var(--input-secondary-bg-color-active);
  background-color: var(--input-secondary-bg-color-disabled);
  background-color: var(--input-secondary-bg-color-focus);
  background-color: var(--input-secondary-bg-color-hover);













  border: var(--input-primary-border-color-hover);
  border: var(--input-secondary-border-color);
  border: var(--input-secondary-border-color-hover);
  border: var(--input-disabled-border-color);
  border: var(--input-disabled-border-color-hover);
  border: var(--input-primary-border-color-focus);
  border: var(--input-secondary-border-color-focus);







  box-shadow: var(--input-primary-boxShadow-focus);
  box-shadow: var(--input-primary-boxShadow-hover);
  box-shadow: var(--input-primary-boxShadow-active);
  box-shadow: var(--input-primary-boxShadow-disabled);
  box-shadow: var(--input-secondary-boxShadow);
  box-shadow: var(--input-secondary-boxShadow-focus);
  box-shadow: var(--input-secondary-boxShadow-hover);
  box-shadow: var(--input-secondary-boxShadow-active);
  box-shadow: var(--input-secondary-boxShadow-disabled);











  color: var(--input-primary-text-color);
  color: var(--input-primary-text-color-hover);
  color: var(--input-primary-text-color-focus);
  color: var(--input-primary-label-text-color);
  color: var(--input-primary-label-text-color-hover);
  color: var(--input-primary-hint-text-color-hover);
  color: var(--input-primary-success-text-color-hover);
  color: var(--input-primary-warning-text-color-hover);
  color: var(--input-primary-error-text-color-hover);
  color: var(--input-secondary-text-color);
  color: var(--input-secondary-text-color-hover);
  color: var(--input-secondary-text-color-focus);
  color: var(--input-secondary-label-text-color);
  color: var(--input-secondary-label-text-color-hover);
  color: var(--input-secondary-hint-text-color-hover);
  color: var(--input-secondary-hint-text-color-hover);
  color: var(--input-secondary-success-text-color-hover);
  color: var(--input-secondary-warning-text-color-hover);
  color: var(--input-secondary-error-text-color-hover);

*/

.GlobalInput {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid green;
  margin: 0;
  min-width: 100px;
  width: max-content;
  background-color: var(--input-primary-bg-color) !important;
  box-shadow: var(--input-primary-boxShadow-focus) !important;
  border: var(--input-primary-border-color) !important;
  color: var(--input-primary-text-color) !important;
}

.GlobalInput::selection {
  /* color: var(--input-primary-text-color-focus) !important; */
}

.GlobalInput:focus {
  color: var(--input-primary-text-color-focus) !important;
}

.GlobalInput::placeholder {
  color: var(--input-primary-placeholder-color);
}

.GlobalInput:hover::placeholder {
  color: var(--input-primary-placeholder-color-hover);
}

.GlobalInput:disabled {
  border: 2px solid red;
}
.GlobalInput.with-left-icon {
  padding-left: 22px;
}
.GlobalInput.with-right-icon {
  padding-right: 22px;
}

.InputGlobal_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  width: max-content;
  /* border: 1px solid red; */
  border-radius: 5px;
  gap: var(--spacing-sm);
}
.InputGlobal_container.inline {
  display: flex;
  flex-direction: row;
}
.IconGlobal_Icon_wrapper {
  padding: 0;
}
.IconGlobal_Icon_wrapper.InputGlobal_icon.right,
.IconGlobal_Icon_wrapper.InputGlobal_icon.left {
  position: relative;
}
.IconGlobal_Icon.InputGlobal_icon.right,
.IconGlobal_Icon.InputGlobal_icon.left {
  position: absolute;
}

.IconGlobal_Icon.InputGlobal_icon.left {
  left: 5px;
  bottom: -4px;
}
.IconGlobal_Icon.InputGlobal_icon.right {
  right: 6px;
  bottom: -4px;
}

/* .GlobalInput[type="number"] {
  -moz-appearance: textfield; // ! Firefox - Only Firefox needs this
}*/

.GlobalInput[type="number"]::-webkit-outer-spin-button,
.GlobalInput[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  margin: 0;
}
